In [1]:
import os
import glob
import psycopg2
import datetime
import time
import pandas as pd
import numpy as np
from sql_queries import *

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur=conn.cursor()

In [6]:
cur.execute("select * from demo;")

InternalError: current transaction is aborted, commands ignored until end of transaction block

In [3]:
fname = '../../data2/GlobalLandTemperaturesByCity.csv'
df = pd.read_csv(fname)
df.shape
df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [4]:
df.dtypes

dt                                object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
City                              object
Country                           object
Latitude                          object
Longitude                         object
dtype: object

In [4]:
df.isnull().sum()

dt                                    0
AverageTemperature               364130
AverageTemperatureUncertainty    364130
City                                  0
Country                               0
Latitude                              0
Longitude                             0
dtype: int64

In [7]:
df['dt'] = pd.to_datetime(df['dt'], format='%Y-%m-%d')

In [8]:
df.dtypes

dt                               datetime64[ns]
AverageTemperature                      float64
AverageTemperatureUncertainty           float64
City                                     object
Country                                  object
Latitude                                 object
Longitude                                object
dtype: object

In [5]:
temp = df.loc[:,('City', 'Country', 'Latitude', 'Longitude')]

In [6]:
temp.dtypes

City         object
Country      object
Latitude     object
Longitude    object
dtype: object

In [7]:
temp["City"] = temp["City"].astype("str")
temp["Country"] = temp["Country"].astype("str")
temp["Latitude"] = temp["Latitude"].astype("str")
temp["Longitude"] = temp["Longitude"].astype("str")

In [8]:
temperatures = temp.values.tolist()

In [9]:
temperatures[1]

['Århus', 'Denmark', '57.05N', '10.33E']

In [10]:
len(temperatures)

8599212

In [21]:
for i in range(100000):
    cur.execute(temp_table_insert, temperatures[i])
    conn.commit()

In [22]:
cur.execute(temp_table_insert, temperatures[1000])
conn.commit()

In [ ]:
conn.close()

In [ ]:
%run -i 'create_tables.py'