In [1]:
import os
import glob
import psycopg2
import datetime
import time
import pandas as pd
import numpy as np
from sql_queries import *

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur=conn.cursor()

In [3]:
df_demo = pd.read_csv('demographics/demographics/us-cities-demographics.csv', sep=";", header=0)
df_demo.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [116]:
conn.close()

In [5]:
df_demo['City'].nunique()

567

In [125]:
demog=df_demo.loc[:,('State Code', 'City','State', 'Race')]

In [126]:
demo = demog.values.tolist()

In [127]:
for i in range(len(demo)):
    cur.execute(demo_table_insert, demo[i])
    conn.commit()

In [128]:
#cur.execute("SELECT count(distinct City) from demo")
cur.execute("SELECT count(distinct Race) from demo")

In [76]:
#result1 =cur.fetchall()
result = cur.fetchall()

In [79]:
result

[(5,)]

In [73]:
print(result[0][0])

5

In [77]:
def race_check(cur, conn):
    cur.execute("select count(distinct Race) from demo")
    result=cur.fetchall()
    if result[0][0]==5:
        print("Race column QC passed!")
    else:
        print("QC failed!")

In [78]:
race_check(cur,conn)

Race column QC passed!

In [81]:
cur.execute("SELECT count(distinct City) from demo")

In [82]:
result_city = cur.fetchall()

In [83]:
result_city

[(49,)]

In [84]:
print(result_city[0][0])

49

In [85]:
def city_check(cur, conn):
    cur.execute("SELECT count(distinct City) from demo")
    result=cur.fetchall()
    if result[0][0]==49:
        print("city column QC passed!")
    else:
        print("QC failed!")

In [86]:
city_check(cur, conn)

city column QC passed!

In [109]:
cur.execute("SELECT count(distinct State) from demo")

In [110]:
result_state = cur.fetchall()

In [111]:
result_state

[(49,)]

In [113]:
type(result_state[0][0])

int

In [133]:
def state_check(cur, conn):
    cur.execute("SELECT count(distinct State) from demo")
    result_state=cur.fetchall()
    if result_state[0][0]==49:
        print("State column QC passed!")
    else:
        print("QC failed!")

In [134]:
state_check(cur, conn)

State column QC passed!